header {
    justify-self: center;
    padding: 0em 2em 1em;
}

.board-container {
    height: 900px;
    width: 900px;;
    display: flex;
    justify-self: center;
    border: solid darkred 0.5em;
    border-radius: 2%;
    background-color:lightgrey;
    margin: 5px;
    gap: 2px;
    flex-grow: 1;

}

.pixel-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2px;
}

.pixel{
    background-color: white;
    flex-grow: 1;
}

.color-pixel {
    background-color: black;
}